/*
Theme Name: voilarts17
Theme URI: http://underscores.me/
Author: Hector Ovalles
Author URI: https://webdevstudios.com/
Description: A spiffy new theme for Acme Inc. by WebDevStudios based on wd_s
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: voilarts17
Tags: custom

This theme, like WordPress, is licensed under the GPL.

Based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.

*/

@import "bourbon";
@import "utilities/variables/index";
@import "neat";
@import "utilities/mixins/index";
@import "assets/bower_components/normalize-css/normalize.css";
@import "assets/bower_components/animate.css/animate.css";

@import "base/index";
@import "structure/index";
@import "modules/index";
@import "plugins/index";
@import "views/index";
@import "widgets/index";

body {
  background-color: #f5ffff;

}
body.testvv{
  background: red;
}
/*menu off-canvas*/

.off-canv-menu {
    position:fixed;
    top:0;
    right:0;
     background-color:tomato;
     width:300px;
     height:100vh;
     padding: 0px;
     transform: translateX(100%);
}

.wrapper-vv {
     @include animation(0.2s ease-in);
    transition: all 0.3s ease-in-out;
    position: absolute;
    top:0;
    @include fill-parent;
}
.is-open {
     transform:translateX(-300px);
    transition: all 0.3s ease-in-out;
     @include animation(0.2s ease-in);
}

.site-title {
     margin-top:0px;
     padding-top:20px;
}

/******** menu ******/

.single-artist .wrap {
  @include media($desktop){
    lost-column:6/12 2;
  }
}
.single-artist .primary {
  @include fill-parent;
  @include media($desktop){
    padding: 20px;
  }
}
.parent-page {

  @include media($tablet-portrait) {
    lost-column:3/6;
  }
  position: relative;
  margin-bottom: 20px;
  img {
    width:100%;
    height: 100%;
  }
  a {
    position: absolute;
    color:white;
    top: 0;
    left:0;
    height: 97%;
    width: 100%;
    margin: 0;
    background: rgba(245, 85, 85, .3);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    h1 {
      margin: 0px;
      padding: 0px;
      text-align: center;
    }
  }
}
  .feat-image img{
    @include media($tablet-landscape){
    @include fill-parent;
    }
    @include media($desktop){
      lost-column:6/12 2;

    }
      width:100%;
    }

/* Scenario content */
.feat-img-child {
  @include media($tablet-landscape){
    lost-column:6/12 2;
  }
  height: 320px;
  @include fill-parent ;
  overflow:hidden;
  img {
    width: 100%;
  }
}
section.scenario-content {
  @include media($tablet-landscape){
    lost-column:6/12 2;
  }
  padding: 0 20px;
  background-color: #f5f5f5;
}

.art-info-voil {

  lost-utility:clearfix;
  .art-info-items {
    @include media($desktop){
      display: flex;
      flex-flow: row;
      justify-content: center;
      span {
        padding: 0 10px;
        color:$color-voil;
      }
    }
    display:flex;
    flex-flow: column;
  }
  span {

  }
}

.master-slider-parent {
  z-index: 10;
}
.optional {
  z-index: 99;
  position: relative;
}
