.slide-menu {
  padding: 20px;
}
.logo-vv {
  padding: 15px;
}
.menu li a {
  color:white;
  font-size: 1em;
  text-transform: capitalize;
}
.sub-menu .sub-menu {
  //  display: none;
}
.sub-menu {
  // display: none;
  // background: red;
  &:hover {
    // display: block;
    // background: yellow;
  }
  .sub-menu{
    // background: lime;
    color:black;
    // display: none;
    &:hover {
    color:black;
      // background: tomato;
      // display: block;
    }
    // display:none;
  }
}
.menu-item-has-children:hover {
  .sub-menu{
    // display: block;
  }
}
.dropdown-open {
   display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  background: white;
  color:black;
  opacity: 1;
  transition: all 0.5s 0.3s cubic-bezier(0.52, 0.55, 0.55, 1);
}
.dropdown-hide {
   display: flex;
   align-items: center;
   justify-content: center;
  height: 0px;
  transition: all 0.5s 0.3s cubic-bezier(0.52, 0.55, 0.55, 1);
  a{
    opacity: 0;
  }
}


.artist-sub-item {
  // background-color: lime;
  padding: 2px;
  transition: all 0.5s 0.3s cubic-bezier(0.52, 0.55, 0.55, 1);
  &:hover {
    .artist-sub-item .sub-menu {
      // display: block;
    }
  }
  .sub-menu li a {
    color:#f55555;
    text-transform: uppercase;;
    font-size: 1em;
    // background-color: gray;
    // display:none;
  }
  .sub-menu {
  transition: all 0.5s 0.3s cubic-bezier(0.52, 0.55, 0.55, 1);
    // @extend .dropdown-hide;
  }
}
// nav ul li ul:hover {
//     transition-delay:1s;
// }
//
// .menu-item-has-children {
//   overflow: hidden;
// }
// .menu-item-has-children  > .sub-menu{
//     padding:0 12px;
//         display:block;
//         transform:translateX(-200%);
//         height:0;
//         opacity:0;
//        overflow: hidden;
//       transition: all 0.5s 0.3s cubic-bezier(0.52, 0.55, 0.55, 1);
//
//     }
//     .sub-menu .sub-menu:hover {
//       // height: auto;
//     }
//     .sub-menu .sub-menu .menu-item-has-children{
//         // height: 0;
//         li {
//           // height: 0px;
//         }
//         &:hover{
//         padding:0 12px;
//             display:block;
//             transform:translateX(0%);
//             // height:auto;
//             opacity:1;
//            overflow: hidden;
//           transition: all 0.5s 0.3s cubic-bezier(0.52, 0.55, 0.55, 1);
//             li a{
//               font-size: 1em;
//
//             }
// }
//
//       }
//       .menu-item-has-children {
//         opacity: 1;
//       }
// .menu-item-has-children .menu-item-has-children {
//   transition: all 0.5s 0.3s cubic-bezier(0.52, 0.55, 0.55, 1);height: 23px;
//   display: flex;
//   flex-flow: row;
//   opacity: 1;
//   font-size: 16px;
//   flex: 1;
//
//   &:hover {
//     color:#f55555;
//     padding-left: 1px;
//     opacity: 1;
//     color: white;
//     font-weight: 700;
//     text-transform: uppercase;
//     background-color: lighten(#f55555, 95%);
//     transition: all 0.5s 0.3s cubic-bezier(0.52, 0.55, 0.55, 1);
//   }
//   & > * {
//     //flex: 1;
//     //align-items: center;
//     padding-left: 12px;
//     color: #f43555;
//     font-weight: 700;
//     opacity: 1;
//     text-transform: uppercase;
//     font-size: 22px;
//     word-spacing: 0.3em;
//     letter-spacing: 2px;
//   }
// }
//     .menu-item-has-children:hover  > .sub-menu{
//         padding:0 32px;
//             display:block;
//             transform:translateX(0%);
//             height:auto;
//             opacity:1;
//            overflow: hidden;
//           transition: all 0.5s 0.3s cubic-bezier(0.52, 0.55, 0.55, 1);
//             li{
//                min-height: auto;
//                padding: 12px 0px;
//             a{
//               font-size: 1em;
//                   color:lighten(#f55555,83%);
//                   &:hover {
//                     color: darken(#f55555, 1%);
//                     border: 0;
//                   }
//             }
//           }
//           &:hover {
//             opacity: 1;
//           }
//         }
// .menu-hover-behavior {
//
//   height:auto;
//   opacity:1;
//   transform:translateX(0%);
//   transition: all 0.5s 0.3s cubic-bezier(0.52, 0.55, 0.55, 1);
//   li .sub-menu {
//     transform:translateX(-200%);
//     height:auto;
//     transition: all 0.5s cubic-bezier(0.52, 0.55, 0.55, 1);
//     padding:6px;
//     a{
//       color:#f55555;
//       opacity: 0;
//     transition: all 0.5s cubic-bezier(0.52, 0.55, 0.55, 1);
//       &:hover {
//         color:#f55555;
//         opacity: 1;
//       }
//     }
//   }
//   .menu-item-has-children:hover {
//     .sub-menu {
//       height:auto;
//       transform:translateX(0%);
//       transition: all 0.5s 0.3s cubic-bezier(0.52, 0.55, 0.55, 1);
//     }
//   }
//
// }
// @include media($tablet-portrait){
//   .menu-item-has-children:target {
//   }
// }
//  .menu-item-has-children:hover {
//     @extend .menu-hover-behavior;
// }
